
  .image img{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

 #card_new1{
    background-color: gainsboro;
 }

 #card_new2{
    background-color: gainsboro;
 }

 #card_new3{
    background-color: gainsboro;
 }




 


    @media screen and (max-width: 200px) {
    h1.h1_main{
        font-size: 40px;
    }
}
   