.container p{
    color: white;
    padding: 5px;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(217, 55, 205, 1) 50%);
};

.container1 p{
    background: yellow;
}

